//цвета
@red: #ec1a24;
@black: #211f21;
@blue: #3171c2;
@white: #f2f3f6;
@grey: #a8a8a8;

@blue: #0da5e8;

@mobile: ~ "(max-width: 767px)";
@desktop: ~ "(min-width: 768px)";

* {
	&::selection {
		background: #b3d4fc;
		color: #234a7c;
	}
	outline: none !important;
}

textarea {
	resize: vertical;
	&:hover {
		border-color: lighten(@blue, 20%);
	}
}
.tygh-top-panel {
	background: @black;
	.ty-text-links__a {
		color: #eee;
		&:hover {
			color: @blue;
		}
	}
}

.site-logo {
	
}

//верхнее меню (каталог товаров)
.main-menu {
	border: 1px solid #ddd;
	background: #eee;
	margin-top: 15px;
}

//профиль и корзина
.top-links-grid {
	.ty-account-info__title-txt {
		color: #fff;
	}
	.ty-minicart-title {
		color: #fff;
	}
}

.main-search {
	margin: 6px;
}

.main-catalog {
	.ty-menu__item-link {
		/*position: relative;
		&::after {
			content: "\e019";
			font-family: 'glyphs';
		}*/
	}
	.ty-menu__item {
		border-right: 1px solid #ddd;
		border-bottom: 1px solid #ddd;		
		margin-left: -1px;
		margin-bottom: -1px;
		@media @mobile {
			margin-right: -1px;
		}
		&-link {
			color: lighten(@black, 25%);
			font-weight: bold;
		}
		&-active {			
			color: #fff;
		}
		&:hover {
			.ty-menu__item-link {
				background: none;
				color: @black;
				box-shadow: 0 5px 0 0 @black inset;
				@media @mobile {
					box-shadow: none;
				}
			}
			.ty-menu__submenu-items {
				visibility: visible;
				opacity: 1;
				top: 100%;
			}
			@media @desktop {
				.ty-menu__submenu-item {
					margin-bottom: 10px;
				}
			}
		}
		@media (max-width: 1260px) {
			position: relative;
		}
	}
	
	.ty-menu__submenu-items {
		padding: 8px 15px 0;
		//background: #eee;
		border: 1px solid #ddd;
		min-width: 105px;
		transition: all .3s;
		display: block;
		visibility: hidden;
		opacity: 0;
		top: 90%;
		@media @mobile {
			display: none;
			visibility: visible;
			opacity: 1;
		}
	}
	.ty-menu__submenu-link {
		color: @black;	
		margin-top: 0;
		margin-bottom: 5px;
	}
	.ty-menu__submenu-item {
		margin-bottom: 5px;
		transition: all .3s;
		min-width: 100px;
		&:hover {
			.ty-menu__submenu-link {
				color: @blue;
			}
		}
		&-active {
			padding: 0;
			.ty-menu__submenu-link {
				display: block !important;
				background: @discount_label !important;
			}
		}
	}
	.ty-menu__submenu-item-header {
		border-bottom: 1px solid #ddd;
	}
	/*.ty-top-mine__submenu-col {
		&:not(:last-child) {
			position: relative;
			&::before {
				content: '';
				display: block;
				width: 1px;
				height: 100% - 7px;
				background: #ddd;
				position: absolute;
				left: 100% + 4px;
			}
		}
	}*/
	.ty-menu__submenu-alt-link {
		.ty-menu__submenu-link {			
			font-weight: bold;	
		}
	}
	.ty-menu__item-toggle {
		color: @blue !important;
		height: 100%;
		font-size: 24px;
	}
}


//кнопка купить на всю длину с плавной анимацией
.ty-quick-view-button .ty-btn__secondary {
	box-sizing: border-box;
	font-weight: bold;
	width: 120px !important;	
	left: 50%;
	margin-left: -60px;
	position: absolute;
}

.ty-quick-view-button {
	transition: all .3s;
	opacity: 0;
}

.ty-grid-list__item {	
	padding: 10px;
	position: relative;	
	border: 1px solid transparent;
	transition: all .3s;
	&:hover {
		background: #eee;		
		border-color: #ddd;
	}
}

.ty-grid-list__item:hover {
	.ty-quick-view-button {
		opacity: 1;
	}
	.ty-icon-left-circle {
		opacity: 1;
	}
	.ty-icon-right-circle {
		opacity: 1;
	}
	.ty-pict {
		transform: scale(1.1);
	}	
	.ty-discount-label {
		top: 0;
		right: 0;
	}
}

.ty-discount-label {
	top: 5px;
	right: 5px;
	transition: all .3s;
}

.ty-pict {
		transition: all .3s;
}

//цена и название товара
.ty-grid-list__item-name {
	display: block;
	max-width: none;
	text-align: center;
}

.ty-grid-list__price {
	display: block;
	max-width: none;
	float:none;
	text-align: center;
}

//кнопки переключения страниц квадратные
.owl-prev {
	border-radius: 0 !important;
	.ty-icon-left-circle {
		transition: all .3s;
		opacity: 0;
		&::before {
			content: "\e020";
			font-size: 30px !important;
			color: @secondary_button;
			transition: all .3s;
		}
	}
	&:hover {
		.ty-icon-left-circle {
			&::before {
				color: lighten(@secondary_button, 15%);
			}
		}
	}
}

.owl-next {
	border-radius: 0 !important;
	.ty-icon-right-circle {
		transition: all .3s;
		opacity: 0;
		&::before {
			content: "\e01f";
			font-size: 30px !important;
			color: @secondary_button;
			transition: all .3s;
		}
	}
	&:hover {
		.ty-icon-right-circle {
			&::before {
				color: lighten(@secondary_button, 15%);
			}
		}
	}
}

.ty-product-switcher {
	padding: 0 35px;
}

.ty-icon-left-circle {
	padding: 5px 10px;
	margin-right: 5px;
	&::before {
		color: @blue;
		content: "\e020";
		transition: all .3s;
	}
	&:hover {
		&::before {
			color: lighten(@blue, 15%) !important;
		}
	}
}

.ty-icon-right-circle {
	padding: 5px 10px;
	&::before {
		content: "\e01f";
		transition: all .3s;
	}
	&:hover {
		&::before {
			color: lighten(@blue, 15%) !important;
		}
	}
}

.ty-breadcrumbs {
	.ty-icon-left-circle {
		background: #eee !important;
	}
	.ty-icon-right-circle {
		background: #eee !important;
	}
}

//кастомные чекбоксы
input[type="checkbox"] {
	position: relative;
	&::before {
		content: '';
		display: block;
		width: 12px;
		height: 12px;
		background: #fff;
		border: 1px solid #bbb;
		position: absolute;
		left: 0;
		top: 0;
		pointer-events: none;		
		transition: all .3s;
		box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1) inset;
	}
	&::after {
		content: '';
		display: none;
		width: 6px;
		height: 3px;
		border-left: 2px solid @blue;
		border-bottom: 2px solid @blue;
		position: absolute;
		left: 3px;
		top: 4px;
		transform:rotate(-45deg);
		pointer-events: none;
	}
	&:checked {
		&::after {
			display: block;
		}
	}
	&:hover {
		&::before {
			border-color: @blue;
		}
	}
}

//пагинатор
.ty-pagination {
	&__item {	
		font-weight: bold;
		border-radius: 0 !important;
		&:hover {
			background: lighten(@blue, 15%) !important;
			color: #fff;
		}
	}
	&__selected {
		padding: 4px 8px;
		font-weight: bold;
		border-radius: 0 !important;
	}
}

//картинка для "оставайтесь на связи"
.ty-footer-form-block__title {
	padding-left: 40px;
	background: url(../media/images/letter.png) no-repeat 0 50%;
	background-size: 30px;
}

//кнопка "подписаться"
.ty-footer-form-block__form {
	.ty-btn-go {
		outline: none;
		width: 120px;
		line-height: 10px;
		transition: all .3s;
		&:hover {		
			background: lighten(@blue, 5%);	
			.ty-btn-go__icon {
				&::before {
					color: @white;
				}
			}
		}
	}

	.ty-btn-go__icon {
		transition: all .3s;
		top: 2px;
		&::before {
			content: 'Подписаться';
			font-family: 'Open Sans', sans-serif;
			font-size: 14px;
			font-weight: bold;
		}
	}	
	input {
		background: #fff;
		&:hover {
			background: #eee !important;
		}
	}
}

.ty-btn__big {
	margin-right: 0 !important;
}

//ссылки в футере
/*.ty-footer {
	background: #fff;
	padding: 0 15px;
	margin: 15px 0;
	border: 1px solid #ccc;
	box-shadow: 0 0 0 5px #ddd;
	.ty-footer-general__header {		
		text-align: center;
	}
}*/
.ty-footer-menu__item {
	transition: all .3s;
	&:hover {
		padding-left: 10px;
		a {
			color: @links;
		}
	}
}

.ty-footer-general__header {
	cursor: default;
	color: lighten(@footer_text, 15%);
	padding-bottom: 20px;	
}


//страница товара

//кнопки покупки на странице товара
.ty-btn__add-to-cart {
	margin-right: 0 !important;
}

.ty-cr-product-button {
	background: @discount_label !important;
	margin-right: 0 !important;
	padding: 6px 17px;
	font-size: 14px;
	color: @white;
	&:hover {
		padding: 6px 17px;
		background: lighten(@discount_label, 5%) !important;
		color: @white;
	}
}

.ty-add-to-wish {
	background: @discount_label !important;
	margin-right: 0 !important;
	padding: 6px 17px;
	font-size: 14px;
	color: @white;
	&:hover {
		padding: 6px 17px;
		background: lighten(@discount_label, 5%) !important;
		color: @white;
	}
}

//лейбл скидки
.ty-discount-label {
	pointer-events: none;
}

//окошко аккаунта
.ty-account-info {
	padding-top: 0;
}

.ty-account-info__orders {
	border-top: 1px solid @grey;
	margin-top: 0 !important;
}

//окно корзинки
.ty-cart-items {
	padding: 5px 15px;
}

.cm-cart-buttons {
	border-top: 1px solid @grey;
	padding: 15px;
}

//комментарий
.ty-discussion-post__content {
	padding: 0 15px 10px;
}
.ty-discussion-post  {
	border-radius: 5px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

//текст ошибки поля email
.footer-stay-connected {
	padding: 5px 0 20px;
	.help-inline {
		position: absolute;
		p {
			color: #fff !important;
			background: url(../media/images/arrow-left-top.png) no-repeat 2px 50%;
			background-size: 14px;
			padding-left: 20px;
		}
	}	
}

.owl-page {
	span {
		border-radius: 0 !important;
		transition: all .3s;
		height: 16px !important;
		width: 16px !important;
	}
	&.active {
		span {
			width: 40px !important;
			background: @blue !important;
		}
	}
}

.ty-address-switch {
	border-radius: 0 !important;
	background: #eee !important;
	border-width: 1px !important;
}

//радио
.radio {
	position: relative;
	&::before {
		content: '';
		display: block;
		width: 12px;
		height: 12px;
		background: #fff;
		border: 1px solid #ccc;
		position: absolute;
		left: -1px;
		top: -1px;
		pointer-events: none;		
		transition: all .3s;
		border-radius: 50%;
		box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1) inset;
	}
	&::after {
		content: '';
		display: none;
		width: 6px;
		height: 6px;
		background: @blue;
		position: absolute;
		left: 3px;
		top: 3px;
		transform:rotate(-45deg);
		pointer-events: none;
		border-radius: 50%;
	}
	&:checked {
		&::after {
			display: block;
		}
	}
	&:hover {
		&::before {
			border-color: @blue;
		}
	}
}

//слайдер
.ty-range-slider {
	.ui-slider-handle {
		border: 1px solid #ddd;
		border-radius: 5px;
		background: #fff;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
	}
}
.ty-price-slider__input-text {
	width: 50% - 10px;
}

.ty-range-slider__item {
	&:first-child {
		left: -1px !important;
	}
}

//боковое меню
.ty-sidebox {
	padding: 15px;
	border: 1px solid #ddd;
	&__title {
		border-bottom: 1px solid #ddd;
	}
}

//футер (нижний)
.footer-copyright {
	background: @black;
	padding-bottom: 15px;
}

//+ -
.ty-value-changer__decrease {
	&:hover {
		border-color: @blue;
		background: transparent !important;
		color: @blue !important;
	}
	&:active {
		background: lighten(@blue, 15%) !important;
		color: @white !important;
	}
}

.ty-value-changer__increase {
	&:hover {
		border-color: @blue;
		background: transparent !important;
		color: @blue !important;
	}
	&:active {
		background: lighten(@blue, 15%) !important;
		color: @white !important;
	}
}

//инпуты текстовые
input[type=text],
input[type=password],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email], {
    border: 1px solid #ccc; 
	padding: 4px 8px;
	box-sizing: border-box;
	transition: all .3s;
	box-shadow: inset 0 0 2px 0px rgba(0,0,0,0.2);
	&:hover {
		border-color: lighten(@blue, 20%);
		background: rgba(238, 238, 238, 0.5);
	}
	&:active {
		border-color: @blue;
	}
}

.ty-btn {
	&:active {
		box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.33);
	}
}

//всплывающее окно
.ui-dialog {
	
}

.ty-discussion__review-a {
	border: 1px solid #ddd;
	padding: 5px 10px;
	background: #eee;
	&:hover {
		box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.15);
	}
}

.ty-discussion__review-write {
	border: 1px solid #ddd;
	padding: 5px 10px;
	background: #eee;
	&:hover {
		box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.15);
	}
}

//кастомные элементы списка
/*li {
	list-style: none !important;
	position: relative;
	&::before {
		content: '';
		display: block;
		width: 10px;
		height: 2px;
		background: @blue;
		position: absolute;
		left: -15px;
		top: 10px;

	}
}*/	

//обратный звонок
.ty-cr-phone-number-link {
	.ty-cr-phone {
		font-weight: normal !important;
		font-size: 23px !important;
		margin-bottom: 10px;
		@media @mobile {
			font-size: 46px !important;
		}
	}
	.ty-cr-link {		
		span {
			display: inline-block;
			padding: 12px 20px 12px 44px;
			font-size: 16px !important;
			color: #fff;
			background: #f90 url('../../../../../../../../design/themes/frag/media/images/phone.png?1458199720') no-repeat 12px 50%;
			transition: all .3s;
			@media @mobile {
				width: 300px;
			}
		}
		&:hover {
			span {
				background-color: lighten(#f90, 15%);
			}			
		}
	}
}

.ty-subcategories__item {
	margin-right: 0;
	span {
		padding: 5px 10px;
		border: 1px solid #ddd;
		background: #eee;
	}
}

//кнопка вверх
.scrollup {
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 45px;
	height: 45px;
	background: rgba(0, 0, 0, 0.33);
	border: 4px solid rgba(0, 0, 0, 0.33);
	outline: none;
	transition: all .3s;
}
.scrollup::before {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	border-left: 5px solid rgba(0, 0, 0, 0.33);
	border-top: 5px solid rgba(0, 0, 0, 0.33);
	top: 50%;
	left: 50%;
	margin-top: 5px;
	margin-left: 2px;
	transform: rotate(45deg);
}
.scrollup:hover {
	transform: rotateY(180deg);
	background-color: rgba(0, 0, 0, 0.66);
}

//кнопка сбросить 
.ty-product-filters__reset-button {
}

.ty-product-block__note {
	.product-promo-text {
		border: 1px solid #ddd;	
		padding: 10px 15px;
	}	
	.product-promo-header {
		padding-bottom: 5px;
		margin-bottom: 10px;
		border-bottom: 1px solid #ddd;
	}
}

//выпадающий список
.ty-sort-dropdown__wrapper {
	padding: 5px 10px 9px;
}

.ty-sort-dropdown__content-item {
	padding: 0;
	.ty-sort-dropdown__content-item-a {
		padding: 5px 10px 9px;
	}
}

.ty-sort-dropdown__content {
	min-width: 134px;	
}

//сортировка
.ty-sort-container {
	padding-left: 0;
}

//хар-ки товара
.ty-product-feature__label {
	width: 275px;
	padding-right: 25px;
	border-right: 1px solid #ddd;
}

.ty-product-feature__value {
	padding-left: 25px;
}

.ty-product-bigpicture__sidebar-bottom {
	.ty-btn {
		width: 100%;
		box-sizing: border-box;
		margin: 0;
		margin-bottom: 15px;
	}
}

.ty-control-group__label {
	margin-right: 78px;
}

.ty-product-list__description {
	margin-bottom: 15px;
}

.ty-subcategories-img {
	width: 64px;
}

.ty-compare-checkbox {
	top: 0;
	width: 16px;
	height: 16px;
	border-color: #aaa;
	color: #20AD39;
}

.ty-compare-checkbox__icon {
	top: -1px;
	left: 3px;
}

//заголовки главной
.ty-mainbox-simple-title {
	font-weight: normal;
	text-align: center;
	padding-bottom: 5px;
	margin-bottom: 15px;
}


//горячие предложения
.homepage-hotdeals {
	.owl-item {
		padding: 0 15px;
		box-sizing: border-box;
		margin-bottom: 5px;
		&:hover {
			.ty-scroller-list__img-block {
				box-shadow: 0 0 10px 0px rgba(0,0,0,0.3);
			}
			.ty-scroller-list__description {
				box-shadow: 0 0 10px 0px rgba(0,0,0,0.3);
			}
		}
	}
	.ty-scroller-list__img-block {
		//margin: 0 5px;
		padding: 15px 0;
		border: 1px solid #ddd !important;
		transition: all .3s;
	}
	.ty-scroller-list__description {
		background: #eee !important;
		border: 1px solid #ddd !important;
		border-top: none;
		padding-bottom: 10px;
		transition: all .3s;
		.ty-simple-list .ty-discount-label {
			top: 20px !important;
			right: 15px !important;
		}
	}
	.product-title {
		margin-top: 5px;
	}	
}

.our-brands-grid {
	margin-bottom: 0;
}
